.task-form {
    width: 100%;
    display: flex;
    align-content: center;
    margin-top: 40px;
}

.task-input {
    height: 40px;
    outline: none;
    font-size: 24px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 75%;
}

.task-button {
    width: 23%;
    height: 58px;
    background-color: #7b2cbf;
    color: #eee;
    font-size: 24px;
    border: none;
    transition: all ease-in-out 0.3s;
}

.task-button:hover {
    background-color: #5a189a;
    cursor: pointer;
}

.text-strike {
    text-decoration: line-through;
    color: #aaa;
}